/*
 * Copyright (c) 2021 Yonatan Schachter
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#ifndef RPI_PICO_DEFAULT_IRQ_PRIORITY
#define RPI_PICO_DEFAULT_IRQ_PRIORITY 3
#endif

#define RPI_PICO_RESETS_RESET_ADC		0
#define RPI_PICO_RESETS_RESET_BUSCTRL		1
#define RPI_PICO_RESETS_RESET_DMA		2
#define RPI_PICO_RESETS_RESET_I2C0		3
#define RPI_PICO_RESETS_RESET_I2C1		4
#define RPI_PICO_RESETS_RESET_IO_BANK0		5
#define RPI_PICO_RESETS_RESET_IO_QSPI		6
#define RPI_PICO_RESETS_RESET_JTAG		7
#define RPI_PICO_RESETS_RESET_PADS_BANK0	8
#define RPI_PICO_RESETS_RESET_PADS_QSPI		9
#define RPI_PICO_RESETS_RESET_PIO0		10
#define RPI_PICO_RESETS_RESET_PIO1		11
#define RPI_PICO_RESETS_RESET_PLL_SYS		12
#define RPI_PICO_RESETS_RESET_PLL_USB		13
#define RPI_PICO_RESETS_RESET_PWM		14
#define RPI_PICO_RESETS_RESET_RTC		15
#define RPI_PICO_RESETS_RESET_SPI0		16
#define RPI_PICO_RESETS_RESET_SPI1		17
#define RPI_PICO_RESETS_RESET_SYSCFG		18
#define RPI_PICO_RESETS_RESET_SYSINFO		19
#define RPI_PICO_RESETS_RESET_TBMAN		20
#define RPI_PICO_RESETS_RESET_TIMER		21
#define RPI_PICO_RESETS_RESET_UART0		22
#define RPI_PICO_RESETS_RESET_UART1		23
#define RPI_PICO_RESETS_RESET_USBCTRL		24

#define RPI_PICO_DREQ_PIO0_TX0		0x0
#define RPI_PICO_DREQ_PIO0_TX1		0x1
#define RPI_PICO_DREQ_PIO0_TX2		0x2
#define RPI_PICO_DREQ_PIO0_TX3		0x3
#define RPI_PICO_DREQ_PIO0_RX0		0x4
#define RPI_PICO_DREQ_PIO0_RX1		0x5
#define RPI_PICO_DREQ_PIO0_RX2		0x6
#define RPI_PICO_DREQ_PIO0_RX3		0x7
#define RPI_PICO_DREQ_PIO1_TX0		0x8
#define RPI_PICO_DREQ_PIO1_TX1		0x9
#define RPI_PICO_DREQ_PIO1_TX2		0xa
#define RPI_PICO_DREQ_PIO1_TX3		0xb
#define RPI_PICO_DREQ_PIO1_RX0		0xc
#define RPI_PICO_DREQ_PIO1_RX1		0xd
#define RPI_PICO_DREQ_PIO1_RX2		0xe
#define RPI_PICO_DREQ_PIO1_RX3		0xf
#define RPI_PICO_DREQ_SPI0_TX		0x10
#define RPI_PICO_DREQ_SPI0_RX		0x11
#define RPI_PICO_DREQ_SPI1_TX		0x12
#define RPI_PICO_DREQ_SPI1_RX		0x13
#define RPI_PICO_DREQ_UART0_TX		0x14
#define RPI_PICO_DREQ_UART0_RX		0x15
#define RPI_PICO_DREQ_UART1_TX		0x16
#define RPI_PICO_DREQ_UART1_RX		0x17
#define RPI_PICO_DREQ_PWM_WRAP0		0x18
#define RPI_PICO_DREQ_PWM_WRAP1		0x19
#define RPI_PICO_DREQ_PWM_WRAP2		0x1a
#define RPI_PICO_DREQ_PWM_WRAP3		0x1b
#define RPI_PICO_DREQ_PWM_WRAP4		0x1c
#define RPI_PICO_DREQ_PWM_WRAP5		0x1d
#define RPI_PICO_DREQ_PWM_WRAP6		0x1e
#define RPI_PICO_DREQ_PWM_WRAP7		0x1f
#define RPI_PICO_DREQ_I2C0_TX		0x20
#define RPI_PICO_DREQ_I2C0_RX		0x21
#define RPI_PICO_DREQ_I2C1_TX		0x22
#define RPI_PICO_DREQ_I2C1_RX		0x23
#define RPI_PICO_DREQ_ADC		0x24
#define RPI_PICO_DREQ_XIP_STREAM	0x25
#define RPI_PICO_DREQ_XIP_SSITX		0x26
#define RPI_PICO_DREQ_XIP_SSIRX		0x27